<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO">
    <Appenders>
        <Console name="MyConsole" target="SYSTEM_OUT">
            <PatternLayout pattern="%-5level | %d{yyy-MM-dd HH:mm:ss.SSS} | %-30logger{2} | %msg%n" />
        </Console>
        
        <File name="core-services" fileName="/opt/tomcat/logs/core-services.log" immediateFlush="false" append="false">
            <PatternLayout pattern="%-5level | %d{yyy-MM-dd HH:mm:ss.SSS} | %-30logger{2} | %msg%n" />
        </File>

    </Appenders>
    <Loggers>
        <Root level="debug">
            <AppenderRef ref="MyConsole" />
            <AppenderRef ref="core-services"/>
        </Root>
    </Loggers>
</Configuration>