<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO">
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n" />
        </Console>
        <File name="core-services" fileName="/opt/tomcat/logs/core-services.log" immediateFlush="false" append="false">
            <PatternLayout pattern="%d{yyy-MM-dd HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </File>
    </Appenders>
    <Loggers>
    	<logger name="org.springframework" level="debug">
	        <AppenderRef ref="core-services"/>
	        <AppenderRef ref="Console" />
		</logger>
    	<logger name="com.sgs.vision" level="debug">
	        <AppenderRef ref="Console" />
	        <AppenderRef ref="core-services"/>
		</logger>
        <Root level="debug">
            <AppenderRef ref="Console" />
            <AppenderRef ref="core-services"/>
        </Root>
    </Loggers>
</Configuration>